body {
	text-align:center;
   background-color:deepskyblue;   
   }
   #contact us{
   background-color: deepskyblue;    
   }
   #Video{
   background: linear-gradient(#42f5b3 50%, #4293f5 65%);     
   }
   #hello{
   font-size: 20px;    
   }
   .facts1{
   height:500px;
   width:1000px;     
   }
   .facts2{
   height:500px;
   width:1000px;    
   }
   #More {
   background: linear-gradient(#f542a7 40%, #f5424b 65%);   
   };   